@import url('variables.css');

.main_container {
    background-image: url('../assets/background.png');
    background-repeat: repeat;
    padding: 3rem 1rem 3rem 1rem;

    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-size: 2em;
    padding-bottom: 1rem;
}

.container {
    padding: 1rem;
    max-width: 65vw;

    background-color: #fff;

    border-radius: 1rem;

    -webkit-box-shadow: 20px 20px 0px 0px rgba(174,234,148,1);
    -moz-box-shadow: 20px 20px 0px 0px rgba(174,234,148,1);
    box-shadow: 20px 20px 0px 0px rgba(174,234,148,1);
}

