@import url("reset.css");
@import url("variables.css");

/* Default font */

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: var(--font-color);
}

/* Header Style */

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: var(--font-color);

    padding: 1.5rem .5rem 1.5rem .5rem;
    box-shadow: 0 10px 100px #0000001c;
}

.logo_container {
    display: flex;
    align-items: center;

    .logo_image {
        width: 3rem;
        border-radius: 50%;
        padding-right: 1rem;
    }
    .logo {
        font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
        font-size: 1.5em;
        font-weight: 600;
        text-decoration: none;
        color: var(--font-color);
        transition-duration: .3s;
    }
}

.options_container {
    display: flex;
    align-items: center;

    .page_link {
        text-decoration: none;
        color: var(--font-color);
        text-transform: uppercase;
        padding-left: 1rem;
        font-weight: 500;
        transition-duration: .2s;
    }
    .page_link:hover {
        color: var(--dark-color);
    }

    .menu_container {
        .button_menu {
            background-color: #fff;
            border: none;
            cursor: pointer;
        }
    }
}


/* Msg Style */
.success {
    background: #1aca4563;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgb(67, 202, 100);

    color: #15bf3fc9;
    
    border-radius: .7rem;
    margin-top: 1.2rem;
    padding: 1rem 0.6rem;
    max-width: 15rem;
    
    position: absolute;
    right: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    cursor: pointer;
}

.msg_icon {
    padding-bottom: .5rem;
}

.error {
    background: rgba( 187, 33, 36, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    color: #BB2124;
    
    border-radius: .7rem;
    margin-top: 1.2rem;
    padding: 1rem 0.6rem;
    max-width: 15rem;
    
    position: absolute;
    right: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    cursor: pointer;
}

/* Footer Style */

.footer_container {
    padding: 3rem 10rem 3rem 10rem;
    
    background-color: var(--dark-color);
    color: #fff;
    
    text-align: center;
    font-size: 0.8em;
}

.upper_container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.25rem;

    .about_container {
        text-align: start;
        max-width: 50vw;
    }


    .social_container {
        max-width: 20vw;
        text-align: start;

        
        .social_links_container {
            display: flex;
    
            .social_link:hover {
                cursor: pointer;
            }
        }
    }

    .footer_title {
        text-transform: uppercase;
        padding-bottom: .5rem;
        font-size: 1.5em;
    }
}

.divider {
    background-color: #fff;
    height: .1rem;
    border-radius: .1rem;
    margin: auto;
}

.lower_container {
    color: #fff;
    max-width: fit-content;
    margin: auto;
    padding-top: 1.25rem;

    .link {
        color: #fff;
        text-transform: capitalize;
    }
}

@media(max-width: 768px) {
    .footer_container {
        padding: 4rem 2rem 4rem 2rem;
    }
    
    .upper_container {
        flex-direction: column;
        .about_container {
            padding-bottom: 2rem;
        }
        .about_container, .social_container {
            max-width: 70vw;
        }
    
    }
}